body {
    overflow: auto;
    margin: 0;
    font-size: 12px;
    text-align:center;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica;
}

#bpg {
    margin:auto;
}

#mainDiv {
    position:relative;
}

#svgDiv {
    margin: auto;
}

#headerRight {
    font-family: "Helvetica Neue", Helvetica;
    text-align: right;
    position:absolute;
    top:10px;
    font-size:23px;
    right:0px;
    margin-right:20px;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 18px;
}

.hint {
    right: 0;
    width: 300px;
    font-size: 12px;
    color: #999;
}


div.tooltip {
    position: absolute;			/* reference for measurement */
    text-align: left;
    pointer-events: none;			/* 'none' tells the mouse to ignore the rectangle */
    background: #FFFFEF;
    width: 400px;
    height: 165px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
    opacity:0;
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 72px;
    width: 7px;
    height: 13px;
    background: url("images/tail_white.png") 50% 0%;
}

div.toolTipBody {
    position:absolute;
    height:100px;
    width:230px;
}

div.header {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color:white;
    text-align:center;

}

div.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

div.header1{
   /* text-transform: uppercase; */
    text-align: left;
    font-size: 13px;
    margin-bottom: 2px;
    color:white;
    text-align:center;
}

div.header2{
    color:white;
    text-transform:uppercase;
    font-size: 12px;
    margin-bottom: 2px;
    text-align:center;
}

div.header3 {
    color:white;
    text-align: left;
    font-size: 15px;
    font-style: italic;
    font-family: Georgia;
    /*  width:170px;*/
    text-align:center;
}

div.header4 {
    /*  position:absolute;*/
    text-align:center;
    right:10px;
    top:28px;
    font-size: 16px;
    /*  width:100px;*/
    text-align:center;
    overflow:hidden;
    font-weight:bold;
}

/* Structure */
.g {
    font-family:  "Helvetic Neue", Helvetica, Arial;
}

#bpg-chartFrame{
    -webkit-transition: height ease-in-out 1s;
    -moz-transition: height ease-in-out 1s;
    -o-transition: height ease-in-out 1s;
    -ms-transition: height ease-in-out 1s;
}

#bpg-chart {
    position: relative;
    width: 100%;
    height: 100%;
}
#bpg-error {


}
#bpg-error p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
    border: solid 1px #CCC;
    background: #ffd;
    padding: 10px;

}

#bpg-error a {
    text-decoration: underline;
}

#bpg-chartCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
#bpg-chartCanvas svg {
    height: 100%;
    overflow: hidden;

}

/* Navigation */
.bpg-navBar {
    position:absolute;
    padding: 15px 0 0;
    margin: 0 10px;
    z-index: 100;
    position: absolute;
    left:10px;
    top:10px;
}

.bpg-navigation {

}

.bpg-navigation li {
    color: #999;
    font-size: 14px;
    cursor: pointer;
    float: left;
    padding: 10px 18px;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    border-left: solid 1px #CCC;
    background: #f9f9f9;
    margin: 0 0;
}

.bpg-navigation li:first-of-type{
    border-radius: 4px 0 0 4px;
}
.bpg-navigation li:last-of-type{

    border-right: solid 1px #CCC;
    border-radius: 0 4px 4px 0;
}
.bpg-navigation li.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

.bpg-navigation li.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

div.selected {
    color: #000;
    background: #e9e9e9;
    border-color: #AAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    padding-bottom:10px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    stroke-linecap: round;
}

text.chord {
    font-size:8px;
}


text.mainLabel {
    font-size:12px;
    font-family: Georgia;
    font-style: italic;
    text-align:center;
    fill: #9B001C;
}


text.export {
    font-family: "Myriad", Arial;
    fill: #00AC6B;
}

text.import {
    font-family: "Myriad", Arial;
    fill: #9B001C;
}

text.secondLabel {
    font-family: Myriad, Arial;
    font-style: italic;
    fill: #888888;
    font-size: 10px;
}

